doctype html
html(lang=en)

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Document Title
        link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        include partials/browser-advice.html

        img(src="images/logo.png")
        h1 It Works!

        script(type="text/javascript" src="js/main.js")
